* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    header{
        border: black solid 3px;
    }
    
    .webTitle{
        font-family: Rig-Solid-Medium-Fill, 'Times New Roman', Times, serif ;
    }
    
    .mainNav{
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 1rem;
    }

    @media screen and (min-width: 320px){
        .webTitle{
            margin-left: 3rem;
            text-align: center;
        }

        .siteLogo{
            float: left;
        }
    }