* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html{
        font-family: 'Rubik', 'Times New Roman', Times, sans-serif;
        line-height: 1.5rem;
    }

    header{
        border: black solid 3px;
        display: flex;
       flex-flow: row;
        /*! margin-top: 1rem; */
    }
    
    .webTitle{
        font-family: Rig-Solid-Medium-Fill, 'Times New Roman', Times, serif ;
        margin-top: 1rem;
        margin-left: .4rem;
    }
    
    ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        /*! margin-left: 1rem; */
    }

    .mainNav{
        background-color:#030100;
        margin-bottom: .5rem;
        /*! margin-left: 1rem; */
    }

    .mainNav li{
        background-color: #FFCFC0;
        padding: .2rem;
        border: solid 1px ;
        padding: .5rem;
        text-decoration: none;
        
    }

    .mainNav a{
        text-decoration: none;
        color: black;
        /*! width: auto; */
        /*! display: inline-block; */
    }

    .mainNav:focus{
        
    }

    .mainNav:active{

    }

    .mainNav:visited{

    }

    .mainNav li:hover{
        background-color: #c4a095;
        font-size: .9rem;
        transition: .3s;
        /*! width: 400px; */
    }

    .purpose{
        max-width: 100%;
        padding: 1rem;
        font-weight: bold;
        background-color: #f2e1e6;
    }

    .donate{
        margin-left: 2.5rem;
        padding: 1.3rem;
    }

   .donate a:link{
        text-decoration: none;
        color: #040404;
        border: 2px solid black;
        background-color: #F4AFC4;
        border-radius: 3px;
        padding: .3rem;
   }

   .donate a:focus{
        border: 3px solid blue;
   }

   .donate a:visited{
       
}

.donate a:hover{
    font-weight: bold;
}

.donate a:active{
    background-color: #e4a1b5;
}

   .peopleArticle{
       /*! border-top: 3px black solid; */
       /*! border-bottom: 3px black solid; */
       /*! background-color: #000; */
       padding: .5rem;
   }

   .people figure{
       display: flex;
       flex-flow: column;
   }

   .people figcaption{
       /*! text-align: justify; */
       background-color: #eeeeee;
       /*! color: #F4AFC3; */
       padding: .5rem .5rem;
       max-width: 100%;
   }

   .people img{
       width: 100%;
   }

    .people{
       width: 100%;
       /*! position: relative; */
       /*! right: 39px; */
       background-color: #eeeeee;
       margin-left: 0rem;
       padding: .5rem;
   }


   .mainFooter{
       margin-top: 1rem;
       border-top: 1px black solid;
       border-bottom: 1px black solid;
       font-size: .7rem;
       font-style: italic;
       padding: .2rem;
       /*! text-align: center; */
   }

   .info p{
       margin-top: .5rem;
       padding: .5rem;
   }
   
   .articleList{
    padding: 1rem;
   }

   .leonard{
    background-color: #eeeeee;
    padding: 1rem;
   }

   .leonard img{
       width: 100%;
   }

   figure{
       width:100%;
       margin-left: 0rem;
   }

   figcaption{
       width:100%;
       max-width: 18rem;
   }

   .icons{
       display: flex;
       flex-flow: row;
       text-align: center;
       padding: 1rem;
       margin-top: 1rem;
       margin-left: 1.5rem;
   }

   .icons a{
    background: #000000;
    color: #F4AFC4;
  }

   .icons p{
    font-weight: bold;
   }

   .twitter{
       padding: .5rem;
   }

   .twitter:hover{
       opacity: .5;
   }

   .twitter a:focus{
    border: 3px solid blue;
   }

   .facebook{
       padding: .5rem;
   }

   .facebook:hover{
    opacity: .5;
   }

   .facebook a:focus{
    border: 3px solid blue;
   }

   .instagram{
       padding:.5rem;
   }

   .instagram:hover{
    opacity: .5;
   }

   .instagram a:focus{
    border: 3px solid blue;
   }


   /* <!--------------------------start of Hamburger Menu ---------------------------> */
   /* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
  }
/* Hide the links inside the navigation menu (except for logo/home) (#s are used for IDs)*/

.topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
.topnav a {
    color: #F4AFC4;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #000000;
  }

  /* Style the hamburger menu */
.topnav a.icon {
    background: #090808;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a:focus{
    border: 3px solid blue;
  }

  .active {
    background-color: #0B0A0A;
    color: white;
  }

  .icons a{
    padding: 15px 16px 7px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }


/* Add a hover effect */
/* .fa:hover {
    opacity: 0.7;
  }

  .fa:focus {
    border: 3px solid blue;
  }

  .fa:visited {
    color: #bb8898;
  } */

.sorry{
    line-height: 2rem;
}


/* <!--------------------------end of Hamburger Menu ---------------------------> */

    @media screen and (min-width: 375px){
        .webTitle{
            margin-left: 1.5rem;
            /*! text-align: center; */
            /*! line-height: 2.1rem; */
        }

        .siteLogo{
            float: left;
        }
       
        ul{
            justify-content: center;
            width: 300px;
            margin-left: 2.5rem;
         }

        .donate{
            margin-left: 4rem;
            border-radius: 3px;
            padding: .5rem;
            width: 300px;
        }

        .icons{
            margin-left: 4rem;
            margin-top: 3rem;
        }

        .icons p{
            margin-left: 4rem;
        }

        .myArticle img{
           /* margin-left: 2rem; */
        }

        .myArticle{
            padding: .3rem;
            margin-bottom: 2rem;
            width: 331px;
            right: 30px;
            position: relative;
            border-bottom: 2px black solid;
        }

        .tinaArticle img{
           margin-left: 2rem;
        }

        .tinaArticle{
            padding: .3rem;
            margin-bottom: 2rem;
            width: 331px;
            right: 30px;
            position: relative;
                  
        }

        .donnaArticle{
            padding: .3rem;
            margin-bottom: 2rem;
            width: 331px;
            right: 30px;
            position: relative;
            border-top: 2px black solid;
        }
     } /*end of phone media query */

     @media screen and (min-width: 1280px){
       .webTitle{
        margin-bottom: 1rem;
        font-size: 3rem;
        padding: .75rem;
        margin-left: 24rem;
       }
         .siteLogo{
             margin-left: 22rem;
         }
         

         .donate{
             margin-left: 35rem;
             width: 300px;
         }
         
         .people{
             width: 800px;
             margin-left: 16rem;
             text-align: center;
             border: none;
         }
         
         .people img{
             width: 820px;
         }
         
         .info{
             margin-left: 16rem;
         }
         
         .icons{
             margin-left: 32rem;
         }
     }