* {
    /*! margin: 0; */
    padding: 0;
    box-sizing: border-box;
    }

    html{
        font-family: 'Rubik', 'Times New Roman', Times, sans-serif;
        line-height: 1.5rem;
    }

    header{
        border: black solid 3px;
    }
    
    .webTitle{
        font-family: Rig-Solid-Medium-Fill, 'Times New Roman', Times, serif ;
    }
    
    ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        /*! margin-left: 1rem; */
    }

    .mainNav{
        background-color:#030100;
        margin-bottom: .5rem;
        /*! margin-left: 1rem; */
    }

    .mainNav li{
        background-color: #FFCFC0;
        padding: .2rem;
        border: solid 1px ;
        padding: .5rem;
        text-decoration: none;
        
    }

    .mainNav a{
        text-decoration: none;
        color: black;
        /*! width: auto; */
        /*! display: inline-block; */
    }

    .mainNav:focus{
        
    }

    .mainNav:active{

    }

    .mainNav:visited{

    }

    .mainNav li:hover{
        background-color: #c4a095;
        font-size: .9rem;
        transition: .3s;
        /*! width: 400px; */
    }

   .donate a{
        text-decoration: none;
        color: #040404;
        border: 2px solid black;
        background-color: #F4AFC4;
        border-radius: 3px;
        padding: .3rem;
   }

   .donate a:hover{
       /* font-size: 1.2rem; */
       /*! background-color: #CE93A5; */
       font-weight: bold;
   }

   .peopleArticle{
       border-top: 3px black solid;
       border-bottom: 3px black solid;
       /*! background-color: #000; */
   }

   .people figure{
       display: flex;
       flex-flow: column;
   }

   .people figcaption{
       text-align: justify;
       /*! background-color: #F4AFC3; */
       /*! color: white; */
   }

   .people img{
       width: 100%;
   }

    .people{
       width: 350px;
       position: relative;
       right: 35px;
   }


   .mainFooter{
       margin-top: 1rem;
       border-top: 1px black solid;
       border-bottom: 1px black solid;
       font-size: .7rem;
       font-style: italic;
       padding: .2rem;
       text-align: center;
   }

   .info p{
       margin-top: .5rem;
       padding: .5rem;
   }
   
   .articleList{
    padding: 1rem;
   }

   .project{
    background-color: #eeeeee;
   }

   /* <!--------------------------start of Hamburger Menu ---------------------------> */
   /* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
  }
/* Hide the links inside the navigation menu (except for logo/home) (#s are used for IDs)*/

.topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
.topnav a {
    color: #F4AFC4;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #000000;
  }

  /* Style the hamburger menu */
.topnav a.icon {
    background: #090808;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #0B0A0A;
    color: white;
  }

  .icons a{
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  /* Twitter */
.icons a{
    background: #000000;
    color: #F4AFC4;;
  }

/* Add a hover effect */
.fa:hover {
    opacity: 0.7;
  }


/* <!--------------------------end of Hamburger Menu ---------------------------> */

    @media screen and (min-width: 375px){
        .webTitle{
            margin-left: 7rem;
            /*! text-align: center; */
            line-height: 2.1rem;
        }

        .siteLogo{
            float: left;
        }
       
        ul{
            justify-content: center;
            width: 300px;
            margin-left: 2.5rem;
         }

        .donate{
            margin-left: 4rem;
            border-radius: 3px;
            padding: .5rem;
            width: 250px;
        }

        .icons{
            margin-left: 4rem;
            margin-top: 3rem;
        }

        .icons p{
            margin-left: 4rem;
        }

        .myPic{
            float: left;
            margin-right: .3rem;
        }

        .myArticle{
            padding: .3rem;
            margin-bottom: 2rem;
        }

        .tinaPic{
            float: left;
            margin-right: .3rem;
        }

        .tinaArticle{
            border-top: 2px black solid;
            padding: .3rem;
            margin-bottom: 3rem;
        }

        .donnaPic{
            float: left;
            margin-right: .3rem;
        }

        .donnaArticle{
            border-top: 2px black solid;
            padding: .3rem;
            margin-bottom: 3rem;
        }

     } /*end of phone media query */

     @media screen and (min-width: 1280px){
       .webTitle{
        margin-bottom: 1rem;
        font-size: 3rem;
        padding: .75rem;
        margin-left: 24rem;
       }
         .siteLogo{
             margin-left: 22rem;
         }
         

         .donate{
             margin-left: 35rem;
             width: 300px;
         }
         
         .people{
             width: 800px;
             margin-left: 16rem;
             text-align: center;
             border: none;
         }
         
         .people img{
             width: 820px;
         }
         
         .info{
             margin-left: 16rem;
         }
         
         .icons{
             margin-left: 32rem;
         }
     }